.name{
  float: left;
  margin: 20px;
}
.submit{
    position: absolute;
    right:0;
    bottom:0;
    margin: 50px;
}
.button{
  background-color: #0da687;
  border-radius: 5px;
}
.button:hover{
  background-color: #96815a;
}
.class1{border: 3px solid #cdcdcd; width: 1200px;height: 800px;margin: 10px auto;background-image: url('../img/5.png');background-repeat: no-repeat;background-size: 100%;left:50%;top: 50%;position: absolute;
  transform: translate(-50%,-50%);}
